{% extends 'base.html'%}
{% load static %}

{% block title %}
Загрузить изображение в лекцию
{% endblock %}

{% block content %}

{% comment %} <div class="about mt-125">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="lection-header">
                    <p>Загрузить изображение в лекцию: </p>
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %} 
                        {% for field in form %}
                            <p>{{ field.label_tag }}</p>
                            <p>{{ field }}</p>
                        {% endfor %}
                        <div>
                            <button class="save-button" type="submit" name="save">Добавить изображение</button>
                        </div>
                    </form>
                    <div>
                        <a class="" href="{% url 'open_lection_editor' lection_slug=lection_slug %}">Вернуться в меню редактора</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endcomment %}

<div class="about mt-70">
    <div class="paragraph-container">
        <div class="paragraph-container-left"></div>
        <div class="paragraph-container-center">
            <div class="text-title">Загрузить изображение в лекцию: </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %} 
                {% for field in form %}
                    <p>{{ field }}</p>
                {% endfor %}
                <div class="signup-buttons">
                    <button class="myButtonGreen" type="submit" name="save">Загрузить</button>
                    <button class="myButton" type="submit" name="return">Назад в редактор</button>
                </div>
            </form>
        </div>
        <div class="paragraph-container-right"></div>
    </div>
</div>

{% endblock %}