{% extends 'base.html'%}
{% load static %}

{% block title %}
Загрузить аудиозаписи в базу данных
{% endblock %}

{% block content %}


<div class="about mt-70">
    <div class="paragraph-container">
        <div class="paragraph-container-left"></div>
        <div class="paragraph-container-center">
            <div class="text-title">Загрузить аудиозаписи в базу данных: </div>
            <form id="image-audio-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }} 
                {% for form in formset %}
                    {% for field in form %}
                        <p>{{ field }}</p>
                    {% endfor %}
                {% endfor %}
                <div class="signup-buttons">
                    <button class="myButtonGreen" type="submit" name="save">Добавить</button>
                    <button class="myButton" type="submit" name="return">Назад в редактор</button>
                </div>
            </form>

        </div>
        <div class="paragraph-container-right"></div>
    </div>
</div>
        

{% endblock %}