.black-profile-text {
    color: hsl(0, 0%, 9%);
    font-size: 18px;
}
/* login, signup, lections */

.lection-create-title, 
.login-title,
.reset-title,
.signup-title {
    text-align: center;
    margin-bottom: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:#181818;
}

.create-lection-form,
.login-form,
.reset-form,
.signup-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1);
    text-align: center;
}

.create-lection-form p {
    margin-bottom: 0px;
}

.login-form p {
    margin-bottom: 0px;
}

.create-lection-group,
.login-group,
.signup-group {
    position: relative;
}

.create-lection-field,
.login-field,
.reset-field,
.signup-field {
    height: 50px;
    color: rgb(22, 20, 20);
    border: 1px solid transparent;
    border-color: #181818;
    width: 80%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 40px;
}

.create-lection-center,
.login-center,
.reset-center,
.signup-center {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(22, 20, 20) !important;
}

/* .center-login {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1);
    background-color: rgb(212, 205, 205);
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

@media (min-width: 900px) {

    .create-lection-form,
    .login-form,
    .reset-form,
    .signup-form {
        display: grid;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(1);
    }

    .create-lection-left,
    .login-left,
    .reset-left,
    .signup-left {
        grid-column: 1/6;
    }

    .create-lection-center,
    .login-center,
    .reset-center,
    .signup-center {
        grid-column: 6/10;
        /* background-color: rgb(212, 205, 205); */
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }

    .create-lection-right,
    .login-right,
    .reset-right,
    .signup-right {
        grid-column: 10/15;
    }

    .create-lection-field,
    .login-field,
    .reset-field,
    .signup-field {
        height: 50px;
        color: rgb(22, 20, 20);
        border: 1px solid transparent;
        border-color: #181818;
        width: 100%;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 40px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        margin-bottom: 40px;
    }

}

.login-buttons,
.reset-buttons,
.signup-buttons {
    display: block;
    text-align: center;
    width: 100%;
}

.login-buttons a {
    margin-left: 15px;
}

.login-buttons p {
    margin-top: 15px;
}

/* ///////////// */


.text-title {
    text-align: center;
    margin-bottom: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:#181818;
}

.text-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1);
    text-align: center;
}

.text-container-center, 
.text-form-center {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 40px;
}

.text-container-center textarea {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-form-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
}

.text-container p {
    text-align: justify;
}

.text-form-center p {
    margin-bottom: 0px;
}

.my-textarea {
    height: 50px;
    color: rgb(22, 20, 20);
    border: 1px solid transparent;
    border-color: #181818;
    width: 100%;
    height: 80%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 80px;
}

.my-textarea-number {
    height: 50px;
    color: rgb(22, 20, 20);
    border: 1px solid transparent;
    border-color: #181818;
    width: 50%;
    height: 80%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 10px;
}

@media (min-width: 900px) {

    .text-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1);
    }

    .text-container p {
        text-align: justify;
    }

    .text-container-left {
        grid-column: 1/4;
    }

    .text-container-center,
    .text-form-center {
        grid-column: 4/10;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }

    .text-form-center p {
        margin-bottom: 0px;
    }

    .text-container-center textarea {
        width: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .text-container-center .number {
        width: 50%;
    }

    .text-container-right {
        grid-column: 10/13;
    }

}

.myButtonGreen {
	background-color:#41d124;
	border-radius:19px;
	border:1px solid rgb(0, 255, 42);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	padding: 4px 14px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #4e7091; */
    margin-right: 10px;
}

.myButtonGreen:hover {
	background-color:rgb(0, 255, 42);
}
.myButtonGreen:active {
	position:relative;
	top:1px;
}

.myButtonRed {
	background-color:#c81818;
	border-radius:19px;
	border:1px solid rgb(255, 0, 0);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	padding: 4px 14px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #4e7091; */
    margin-right: 10px;
}

.myButtonRed:hover {
	background-color:rgb(255, 0, 0)
}
.myButtonRed:active {
	position:relative;
	top:1px;
}

/* ********* */


.paragraph-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1);
    text-align: center;
}

.paragraph-container-center {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 40px;
}

.paragraph-container p {
    text-align: justify;
    margin-bottom: 10px;
    color: #252222;
}

.paragraph-textarea {
    height: 50px;
    color: rgb(22, 20, 20);
    border: 1px solid transparent;
    border-color: #181818;
    width: 100%;
    /* height: 80%; */
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 40px;
}

.paragraph-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 86%;
}

#image-audio-name p {
    text-align: center;
    color: #252222;
    margin-bottom: 22px;
}


@media (min-width: 900px) {

    .paragraph-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1);
    }

    .paragraph-container p {
        text-align: justify;
        margin-bottom: 10px;
    }

    .paragraph-container-left {
        grid-column: 1/3;
    }

    .paragraph-container-center {
        grid-column: 3/11;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
    }

    .paragraph-container-center p {
        margin-bottom: 15px;
    }

    .paragraph-container-right {
        grid-column: 11/13;
    }

}

.paragraph-container-buttons {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#image-audio-div {
    height: 50px;
    color: rgb(22, 20, 20);
    border: 1px solid transparent;
    border-color: #181818;
    width: 50%;
    height: 90%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 40px;
}

#image-audio-form p{
    text-align: center;
}

.paragraph-container-center input[type="file"] {
    text-align: center;
}

/* table style */

table.minimalistBlack {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 3px solid #000000;
    width: 100%;
    /* height: 50%; */
    text-align: center;
    border-collapse: collapse;
  }
  table.minimalistBlack td, table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 4px 8px;
  }
  table.minimalistBlack tbody td {
    font-size: 15px;
    color: #181818;
  }
  table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
  }
  table.minimalistBlack thead th {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }
  table.minimalistBlack tfoot td {
    font-size: 14px;
  }


  .myButtonRedTable {
	background-color:#c81818;
	border-radius:19px;
	border:1px solid rgb(255, 0, 0);
	display: inline-block;
    height: 30px;
	cursor:pointer;
	color:#ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	padding: 4px 14px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #4e7091; */
    margin-right: 10px;
}

.myButtonRed:hover {
	background-color:rgb(255, 0, 0)
}
.myButtonRed:active {
	position:relative;
	top:1px;
}

.dictionary-termin {
    border: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    font: Georgia, 'Times New Roman', Times, serif;
    color: #181818;
}

/* ********* */