{% extends 'base.html'%}
{% load static %}


{% block title %}
Активировать аккаунт
{% endblock %}


{% block content %}

<div class="about mt-125">
    <div class="text-container">
        <div class="text-container-left"></div>
        <div class="text-container-center">
            <div class="text-title">Аккаунт успешно активирован!</div>
            <a href="{% url 'login_user' %}"><button class="myButton" type="submit" name="save">Войти в личный кабинет</button></a>
        </div>
        <div class="text-container-right"></div> 
    </div>
</div>

{% endblock %}