{% extends 'base.html'%}
{% load static %}
{% load i18n %}


{% block title %}
Пароль изменен!
{% endblock %}


{% block content %}
<div class="about mt-125">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-9">
              <div class="lection-header">
                <h1>Пароль изменен</h1>
                <p>Поздравляем! Вы успешно изменили пароль своего аккаунта. Используйте его для
                <a href="{% url 'login_user' %}">входа в систему</a>.</p>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}