{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Изменить пароль
{% endblock %}

{% block content %}
<div class="about mt-125">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="lection-header">
                    <h2 class="card-title">Изменить пароль</h4>
                    <form  method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button  type="submit"  class="btn btn-success">Подтвердить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}