{% extends 'base.html'%}
{% load static %}


{% block title %}
Сброс пароля
{% endblock %}


{% block content %}

<div class="about mt-125">
    <div class="reset-form">
        <div class="reset-left"></div>
        <div class="reset-center">
            <div class="reset-title">Сброс пароля</div>
                <form class="" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for f in form %}
                        {{ f }}
                    {% endfor %}
                    <div class="login-buttons">
                        <button class="myButton" type="submit">Подтвердить</button>
                    </div>
                </form>
        </div>
        <div class="reset-right"></div>
    </div>
</div>
    
{% endblock %}