{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Изменить пароль
{% endblock %}

{% block content %}

<div class="about mt-125">
    <div class="signup-form">
        <div class="signup-left"></div>
        <div class="signup-center">
            <div class="signup-title">Изменить пароль</div>
            <form class="" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <div class="signup-buttons">
                    <button class="myButton" type="submit">Подтвердить</button>
                </div>
            </form>
        </div>
        <div class="signup-right"></div>
    </div>
</div>

{% endblock %}