{% extends 'base.html'%}
{% load static %}
{% load i18n %}


{% block title %}
Пароль изменен!
{% endblock %}


{% block content %}

<div class="about mt-125">
    <div class="signup-form">
        <div class="signup-left"></div>
        <div class="signup-center">
            <div class="signup-title">Пароль изменен!</div>
            <a href="{% url 'login_user' %}"><button class="myButton" type="submit" name="save">Войти в систему</button></a>
        </div>
        <div class="signup-right"></div> 
    </div>
</div>

{% endblock %}