{% extends 'base.html'%}
{% load static %}
{% load i18n %}


{% block title %}
Ссылка на сброс пароля
{% endblock %}


{% block content %}

<div class="about mt-125">
    <div class="text-container">
        <div class="text-container-left"></div>    
        <div class="text-container-center">
            <div class="text-title">Сброс пароля</div>
            <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
        </div>
        <div class="text-container-right"></div> 
    </div>
</div>    

{% endblock %}