{% extends 'base.html'%}
{% load static %}

{% block title %}
Выберите лекцию для изменения
{% endblock %}

{% block content %}


<div class="about mt-125">
    <div class="lection-editor-title">Выберите лекцию для изменения</div>
    <div class="lection-editor-container">
        <div class="left-editor"></div>
        <div class="center-editor">
            {% for profile, lections in all_lections.items %}
                <p><span class="black-profile-text">{{ profile }} профиль</span></p>
                <ol>
                {% for lection in lections %}
                    <li><a href="{{ lection.edit_url }}">{{ lection.obj }}</a></li>
                {% endfor %}
                </ol>
            {% endfor %}
        </div>
        <div class="right-editor"></div>
    </div>
    <div class="button-container">
        <p><a class="myButton" href="{% url 'home' %}">Вернуться на главную страницу</a></p>
    </div>
</div>

{% endblock %}