{% extends 'base.html'%}
{% load static %}

{% block title %}
Изменить контент лекции
{% endblock %}

{% block content %}

<div class="about mt-70">
    <div class="paragraph-container">
        <div class="paragraph-container-left"></div>
        <div class="paragraph-container-center">
            <div class="text-title">{{ lection_name }}</div>
            {% for key, value in content.items %}

                <p>{{ value.paragraph.paragraph_number }} абзац</p>
                <p>{{ value.paragraph.paragraph }}</p>

                <div class="paragraph-container-buttons">
                    <a href="{{ replace_url }}?paragraph_number={{ value.paragraph.paragraph_number }}"><button class="myButtonGreen" type="submit" name="save">Изменить абзац</button></a>
                </div>

                <div id="image-audio-name">
                    {% for image in value.images %}
                        <img src="{{ image.image_id.image.url }}">
                        <p>{{ image.image_id.image_name }}</p>
                    {% endfor %}
                    <div class="paragraph-container-buttons">
                        <a href="{{ image_url }}?paragraph_number={{ value.paragraph.paragraph_number }}"><button class="myButtonGreen" type="submit" name="save">Добавить изображение </button></a>
                    </div>
                </div>
                
                <div id="image-audio-name">
                    {% for track in value.audio %}
                        <audio controls>
                            <source src="{{ track.audio_id.audio.url }}" type="audio/wav">
                        </audio>
                        <p>{{ track.audio_id.audio_name }}</p>
                    {% endfor %}
                    <div class="paragraph-container-buttons">
                        <a href="{{ audio_url }}?paragraph_number={{ value.paragraph.paragraph_number }}"><button class="myButtonGreen" type="submit" name="save">Добавить аудиозапись </button></a>
                    </div>
                </div>
            {% endfor %}

        <div class="paragraph-container-buttons">
            <a href="{% url 'open_lection_editor' lection_slug=lection_slug %}"><button class="myButton" type="submit" name="save">Назад в редактор</button></a>
        </div>

        </div>

        <div class="paragraph-container-right"></div>
    </div>
</div>

{% endblock %}

