{% extends 'base.html'%}
{% load static %}

{% block title %}
Список лекций
{% endblock %}

{% block content %}

<div class="about mt-125">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="lection-header">
                    <h3>Лекции по профилю</h3>
                </div>
                <div class="lections-list">
                    {% for lection in lections %}
                        <p><a class="" href="{% url 'get_lection_dictionary' lection_slug=lection.slug %}">{{ lection.lection_name }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}