{% extends 'base.html'%}
{% load static %}

{% block title %}
Список лекций по профилю
{% endblock %}

{% block content %}

<div class="about mt-125">
    <div class="lection-editor-title">Лекции - {{ profile }} профиль</div>
    <div class="lection-editor-container">
        <div class="left-editor"></div>
        <div class="center-editor">
            <ol>
            {% for lection in lections %}
                <li><a class="" href="{% url 'get_lection_dictionary' lection_slug=lection.slug %}">{{ lection.lection_name }}</a></li>
            {% endfor %}
            </ol>
        </div>
        <div class="right-editor"></div>
    </div>
</div>

{% endblock %}