{% extends 'base.html'%}
{% load static %}

{% block title %}
Лекция
{% endblock %}

{% block content %}

<div class="about mt-70">
    <div class="paragraph-container">
        <div class="paragraph-container-left"></div>
        <div class="paragraph-container-center">
            <div class="text-title">{{ lection_name }}</div>
            {% for key, value in content.items %}

                <p>{{ value.paragraph.paragraph }}</p>

                <div id="image-audio-name">
                    {% for image in value.images %}
                        <img src="{{ image.image_id.image.url }}">
                        <p>{{ image.image_id.image_name }}</p>
                    {% endfor %}
                </div>
                
                <div id="image-audio-name">
                {% for track in value.audio %}
                    <audio controls>
                        <source src="{{ track.audio_id.audio.url }}" type="audio/wav">
                    </audio>
                    <p>{{ track.audio_id.audio_name }}</p>
                {% endfor %}
                </div>

            {% endfor %}

            {% if user.is_superuser %}
                <a href="{% url 'open_lection_editor' lection_slug %}"><button class="myButton" type="submit" name="save">Назад в редактор</button></a>
            {% endif %}

        </div>

        <div class="paragraph-container-right"></div>
    </div>
</div>
            

{% endblock %}