{% extends 'base.html'%}
{% load static %}

{% block title %}
Изменить контент лекции
{% endblock %}

{% block content %}

{% comment %} <div class="about mt-125">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                {% for key, value in content.items %}
                    <p>{{ value.paragraph.paragraph }}</p>

                    {% for image in value.images %}
                        <p><img src="{{ image.image_id.image.url }}" width="300px"></p>
                        <p>{{ image.image_id.image_name }}</p>
                    {% endfor %}

                    {% for track in value.audio %}
                        <audio controls>
                            <source src="{{ track.audio_id.audio.url }}" type="audio/wav">
                        </audio>
                        <p>{{ track.audio_id.audio_name }}</p>
                    {% endfor %}

                    <p><a href="{{ replace_url }}?paragraph_number={{ value.paragraph.paragraph_number }}">{{ value.paragraph.paragraph_number }} абзац изменить </a></p>
                    <p><a href="{{ image_url }}?paragraph_number={{ value.paragraph.paragraph_number }}"> добавить изображение </a></p>
                    <p><a href="{{ audio_url }}?paragraph_number={{ value.paragraph.paragraph_number }}"> добавить аудиозапись </a></p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<p><a class="" href="{% url 'open_lection_editor' lection_slug=lection_slug %}">Вернуться в меню редактора</a></p> {% endcomment %}

<div class="about mt-70">
    <div class="paragraph-container">
        <div class="paragraph-container-left"></div>
        <div class="paragraph-container-center">
            <div class="text-title">{{ lection_name }}</div>
            {% for key, value in content.items %}

                <div class="paragraph-container-buttons">
                    <a href="{{ insert_url }}?paragraph_number={{ value.paragraph.paragraph_number }}"><button class="myButtonGreen" type="submit" name="save">Вставить новый абзац</button></a>
                </div>

                <p>{{ value.paragraph.paragraph }}</p>

                <div id="image-audio-name">
                    {% for image in value.images %}
                        <img src="{{ image.image_id.image.url }}">
                        <p>{{ image.image_id.image_name }}</p>
                    {% endfor %}
                </div>
                
                <div id="image-audio-name">
                {% for track in value.audio %}
                    <audio controls>
                        <source src="{{ track.audio_id.audio.url }}" type="audio/wav">
                    </audio>
                    <p>{{ track.audio_id.audio_name }}</p>
                {% endfor %}
                </div>

            {% endfor %}

        <div class="paragraph-container-buttons">
            <a href="{% url 'open_lection_editor' lection_slug=lection_slug %}"><button class="myButton" type="submit" name="save">Назад в редактор</button></a>
        </div>

        </div>

        <div class="paragraph-container-right"></div>
    </div>
</div>

{% endblock %}
