{% extends 'base.html'%}
{% load static %}

{% block title %}
Поменять параграф
{% endblock %}

{% block content %}

<div class="about mt-70">
    <div class="text-container">
        <div class="text-container-left"></div>
        <div class="text-form-center">
            <div class="text-title">Изменить параграф</div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %} 
                {{ form.media }} 
                {% for field in form %}
                    <p>{{ field }}</p>
                {% endfor %}
                <div class="signup-buttons">
                    <button class="myButtonGreen" type="submit" name="save">Изменить абзац</button>
                    <button class="myButton" type="submit" name="return">Назад в редактор</button>
                </div>
            </form>
        </div>
        <div class="text-container-right"></div>
    </div>
</div>

{% endblock %}