{% extends 'base.html'%}
{% load static %}

{% block title %}
Создать словарь
{% endblock %}

{% block content %}

<div class="about mt-125">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-9">
                <div class="lection-header">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ formset.management_form }} 
                        <table>
                            <thead>
                                {% for form in formset %}
                                    {% if forloop.first %}
                                        {% for field in form.visible_fields %}
                                            <th>{{ field.label_tag }}</th>
                                        {% endfor %}
                                    {% endif %}
                            </thead>
                            <tbody>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <td>{{ field }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <button class="save-button" type="submit" name="save">Перейти к лекции</button>
                        </div>
                        <div>
                            <button class="save-button" type="submit" name="add">Добавить термины</button>
                        </div>
                    </form>
                    <a href="{% url 'get_lection_dictionary' lection_slug=lection_slug %}">Посмотреть словарь</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}