{% extends 'base.html'%}
{% load static %}

{% block title %}
Создать словарь
{% endblock %}

{% block content %}

<div class="about mt-70">
    <div class="text-container">
        <div class="text-container-left"></div>
        <div class="text-form-center">
            <div class="text-title">{{ success_message }}</div>
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="minimalistBlack">
                <thead>
                    {% for form in formset %}
                        {% if forloop.first %}
                            {% for field in form.visible_fields %}
                                <th>{{ field.label_tag }}</th>
                            {% endfor %}
                        {% endif %}
                </thead>
                <tbody>
                    <tr>
                        {% for field in form.visible_fields %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="paragraph-container-buttons">
                <button class="myButtonGreen" type="submit" name="save">Добавить термины</button>
            </div>
            </form>
            <div class="paragraph-container-buttons">
                <a href="{% url 'get_lection_dictionary' lection_slug=lection_slug %}"><button class="myButton" type="submit" name="save">Посмотреть словарь</button></a>
                {% if user.is_superuser %}
                    <a href="{% url 'open_lection_editor' lection_slug=lection_slug %}"><button class="myButton" type="submit" name="save">Назад в редактор</button></a>
                {% endif %}
            </div>
        </div>
        <div class="text-container-right"></div>
    </div>
</div>


{% endblock %}