{% extends 'base.html'%}
{% load static %}

{% block title %}
Список лекций
{% endblock %}

{% block content %}

<div class="about mt-125">
    <div class="container">
        <div id="row align-items-center">
            <div class="col-md-9">
                <div class="lection-header">
                    <h3>Словарь лекции {{ lection.lection_name }}</h3>
                    {{ red }}
                </div>
                <div class="lections-list">
                    <table class="dict-table">
                        <tbody>
                            {% for value in values %}
                            <tr id="dict-table-style">
                              <th id="rus" "dict-table-style">{{value.termin_in_rus}}</th>
                              <th id="eng" "dict-table-style">{{value.termin_in_eng}}</th>
                              {% if del %}
                                <th id="eng" "dict-table-style"><a href="{{ delete_dict_item_url }}?pk={{value.pk}}">{{ delete_text }}</a></th>
                              {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    <a class="" href="{% url 'get_lection_content' lection_slug=lection.slug %}">Приступить к лекции</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}